<%= link_to "Pdf to ipa Demo", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to t(:logout), destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
      <%= link_to t(:login), new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user
    if current_user.has_role? :admin %>
    <li>
      <%= link_to "Admin", rails_admin_path %>

    </li>    
    <%end
    end%>    
    <li>
      <%= link_to "Exec rake", :controller=>"home",:action=>"route_map" %>

    </li>    
    <% else %>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    <% if current_user
    if current_user.has_role? :admin %>
    <li>
      <%= link_to "Admin", rails_admin_path %>

    </li>    
    <%end
    end%>
    <li>
      <%= link_to "Exec rake", :controller=>"home",:action=>"route_map" %>

    </li>        
  <% end %>
</ul>